@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode (default theme)  */
:root {
  --body-bg: #fafafa;
  --body-text: #9495a5;
  --todo-item-bg: #fff;
  --todo-item-box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  --todo-item-toggle-bg: #fff;
  --todo-item-toggle-border: #e3e4f1;
  --todo-item-toggle-border-hover-1: #55ddff;
  --todo-item-toggle-border-hover-2: #c058f3;
  --todo-item-toggle-completed-1: #55ddff;
  --todo-item-toggle-completed-2: #c058f3;
  --todo-item-placeholder-text: #9495a5;
  --todo-item-text: #494c6b;
  --todo-item-text-completed: #d1d2da;
  --todo-item-remove-btn: #494c6b;
  --todo-list-bg: #fff;
  --todo-list-box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  --filter-buttons-text: #9495a5;
  --filter-buttons-text-hover: #494c6b;
  --filter-buttons-text-active: #3a7cfd;
  --clear-completd-btn-text: #9495a5;
  --clear-completd-btn-text-hover: #494c6b;
}

/* Dark mode */
html.dark,
#storybook-root.dark {
  --body-bg: #171823;
  --body-text: #5b5e7e;
  --todo-item-bg: #25273d;
  --todo-item-box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
  --todo-item-toggle-bg: #25273d;
  --todo-item-toggle-border: #393a4b;
  --todo-item-toggle-border-hover-1: #55ddff;
  --todo-item-toggle-border-hover-2: #c058f3;
  --todo-item-toggle-completed-1: #55ddff;
  --todo-item-toggle-completed-2: #c058f3;
  --todo-item-placeholder-text: #767992;
  --todo-item-text: #c8cbe7;
  --todo-item-text-completed: #4d5067;
  --todo-item-remove-btn: #5b5e7e;
  --todo-list-bg: #25273d;
  --todo-list-box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
  --filter-buttons-text: #5b5e7e;
  --filter-buttons-text-hover: #e3e4f1;
  --filter-buttons-text-active: #3a7cfd;
  --clear-completd-btn-text: #5b5e7e;
  --clear-completd-btn-text-hover: #e3e4f1;
}

html,
#storybook-decorator {
  font-family: var(--font-josefin-sans);
}
