@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode (default theme)  */
:root {
  --buton-bg: #fff;
  --button-text: #494c6b;
  --body-bg: #fafafa;
  --body-text: #9495a5;
}

/* Dark mode */
html.dark,
#storybook-root.dark {
  --buton-bg: #25273d;
  --button-text: #c8cbe7;
  --body-bg: #171823;
  --body-text: #5b5e7e;
}
